.date_entry {
  border-bottom: 3px solid var(--color-black);
  margin-bottom: 5px;
}

.entry {
  display: grid;
  border-bottom: 0.3px solid var(--color-neutral);
  grid-template-columns: 1fr auto;

  grid-template-areas:
    "start_time state"
    "end_time state"
    "text state"
    "next state";
}

.vacation {
  background-color: var(--color-vacation);
  grid-area: text;
}

.adjustment {
  background-color: var(--color-admin);
  grid-area: text;
}

.time {
  background-color: var(--color-entry);
}
.correction {
  border-left: 5px solid rgba(255, 0, 50%, 0.6);
  padding-left: 1em;
  grid-area: text;
}
.state {
  background-color: var(--color-black);
  color: white;
  grid-area: state;
  padding: 0.5em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.entry_date {
  background-color: var(--color-black);
  padding: 0.5em;
  font-size: 1.4rem;
  font-weight: 800;
}
